.pdf-page-1{width:1200px; height:848px;
 background-image: url(page0.jpg);}
.pdf-page-2{width:1200px; height:848px;
 background-image: url(page1.jpg);}
.pdf-page-3{width:1200px; height:848px;
 background-image: url(page2.jpg);}
.pdf-page-4{width:1200px; height:848px;
 background-image: url(page3.jpg);}
.pdf-page-5{width:1200px; height:848px;
 background-image: url(page4.jpg);}
.pdf-page-6{width:1200px; height:848px;
 background-image: url(page5.jpg);}
.pdf-page-7{width:1200px; height:848px;
 background-image: url(page6.jpg);}
.pdf-page-8{width:1200px; height:848px;
 background-image: url(page7.jpg);}
.pdf-page-9{width:1200px; height:848px;
 background-image: url(page8.jpg);}
.pdf-page-10{width:1200px; height:848px;
 background-image: url(page9.jpg);}
.pdf-page-11{width:1200px; height:848px;
 background-image: url(page10.jpg);}
.pdf-page-12{width:1200px; height:848px;
 background-image: url(page11.jpg);}
.pdf-page-13{width:1200px; height:848px;
 background-image: url(page12.jpg);}
.pdf-page-14{width:1200px; height:848px;
 background-image: url(page13.jpg);}
.pdf-page-15{width:1200px; height:848px;
 background-image: url(page14.jpg);}
.pdf-page-16{width:1200px; height:848px;
 background-image: url(page15.jpg);}
.pdf-page-17{width:1200px; height:848px;
 background-image: url(page16.jpg);}
.pdf-page-18{width:1200px; height:848px;
 background-image: url(page17.jpg);}
