.pdf-page-1{width:1200px; height:1696px;
 background-image: url(page0.jpg);}
.pdf-page-2{width:1200px; height:1696px;
 background-image: url(page1.jpg);}
.pdf-page-3{width:1200px; height:1696px;
 background-image: url(page2.jpg);}
.pdf-page-4{width:1200px; height:1696px;
 background-image: url(page3.jpg);}
.pdf-page-5{width:1200px; height:1696px;
 background-image: url(page4.jpg);}
.pdf-page-6{width:1200px; height:1696px;
 background-image: url(page5.jpg);}
.pdf-page-7{width:1200px; height:1696px;
 background-image: url(page6.jpg);}
.pdf-page-8{width:1200px; height:1696px;
 background-image: url(page7.jpg);}
