* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    
}

h2 {
    background-color: #D38744;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
   
}

.col {
    flex: 1 1 calc(50% - 20px);
    background: #f4f4f4;
    padding: 20px;
    text-align: left;
    border-radius: 8px;
}

.col img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subtitle {
    color: #D38744;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .col {
        flex: 1 1 100%;
    }
}